body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FAF9F6; */
  /* background-image: url(../public/bg15.png);
  backface-visibility: calc(100vh - 100vw);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local; */
  /* font-family: "Public Sans", "Droid Sans", "Helvetica Neue", sans-serif !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .active {
  border-bottom: "2px solid salmon";
}
.pending {
  border-bottom: "2px solid white";
} */
